<div class="form-group">
<%= form_for @formula do |f| %>
  <%= f.label :level, "Current level" %>:
  <%= f.text_field :level %><br />
  <%= f.label :d_level, "Desired level" %>:
  <%= f.text_field :d_level %><br />

  <%= f.submit %>
<% end %>

</div>

<div class="lead">Your result is: <%= @result %></div>